body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fff3d6;
}

header {
    background-color:#0d6a10;
    color: white;
    padding: 1px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#welcome{
    text-align: left;
    color:  whitesmoke;
}

main{
    padding: 20px;
}
img{
    width:100%;
    border-radius: 30px 30px 30px 30px;
}
.img{
    width: 45%;
}
.Benefits{
    height: auto;
    width: 100%;
}
.contain{
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
    column-gap: 100px;
}
#hh{
    background-color:green;
    padding: 40px;
    text-align: center;
    color:white;
    border-radius: 50px 0px 50px 0px;
}
h3{
    color: rgba(30, 139, 186, 0.936);
    font-size: 24px;
}
#Welcome{
    
    text-align: left;
    color:  whitesmoke;
}
form{
    text-align: right;
    size: 100;
}
nav ul li a:hover{
    color: black;
    text-decoration: underline;
    font-size: 20px;
}
p{
    font-size: 20px;
}